<div class="filters">
    <input type="number" [(ngModel)]="minPrice" placeholder="Preço mínimo" class="input-field" (input)="updateFilters()">
    <input type="number" [(ngModel)]="maxPrice" placeholder="Preço máximo" class="input-field" (input)="updateFilters()">
    <input type="number" [(ngModel)]="minQuantity" placeholder="Quantidade mínima" class="input-field" (input)="updateFilters()">
    <input type="text" [(ngModel)]="nameFilter" placeholder="Nome do Produto" class="input-field" (input)="updateFilters()">
</div>


<table class="table">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Quantidade total</th>
            <th>Quantidade defeito</th>
            <th>Quantidade disponível para venda</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts" class="table-row">
            <td>{{ product.nome }}</td>
            <td>{{ product.quantidades | number }}</td>
            <td>{{ product.defeitos | number }}</td>
            <td>{{ product.quantidades - product.defeitos | number }}</td>
            <td>{{ product.preco | currency }}</td>
            <td>
                <button mat-button [matMenuTriggerFor]="menu"><i class="fa-solid fa-ellipsis"></i></button>
                <mat-menu #menu="matMenu">
                    <button class="details-button" (click)="viewDetails(product.id)">Detalhes do produto</button>
                    <button class="updates-button" (click)="openModalUpdate(product)">Atualizar Produtos</button>
                </mat-menu>
            </td>
        </tr>
    </tbody>
</table>
