.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}

.container-products {
    display: flex;
    justify-content: center;
}

.product-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    margin: 10px;
}

.product-name {
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.detail-label {
    color: #666;
    font-size: 12px;
    font-weight: bold;
}

.detail-value {
    color: #333;
    font-size: 12px;
}

.sales {
    padding: 8px 16px;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    color: #f4f4f4;
    background-color: #007bff;
    cursor: pointer;
    margin-left: 0;
    border-radius: 5px;
}