<form class="modal-content">
    <span class="modal-close" (click)="closeModal()">X</span>
    <h2 class="modal-title">Cadastrar Venda</h2>
    <div class="modal-form-group">
      <label for="nome">Nome do Cliente:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="nome" required>
    </div>
    <div class="modal-form-group">
      <label for="quantidade">Quantidade:</label>
      <input type="number" id="quantidade" name="quantidade" [(ngModel)]="quantidade" required>
    </div>
    <button type="button" class="modal-button" (click)="cadastrarVenda()">Cadastrar</button>
</form>
