<form class="modal-content">
    <span class="modal-close" (click)="closeModal()">X</span>
    <h2>{{productName}}</h2>
    <div class="modal-form-group">
        <input type="number" placeholder="Preço" name="newPrice" [(ngModel)]="newPrice">
        <input type="number" placeholder="Produtos com defeitos" name="newDefects" [(ngModel)]="newDefects">
    </div>
    <button (click)="updateProduct()" [disabled]="!newPrice || !newDefects">Update Product</button>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</form>
