<div>
  <h1>Bem vindo ao KLAB Teste</h1>
  <div>
    <h3>O que já está preparado para você?</h3>
    <div>
      Já está pronta a comunicação com o backend, basta importar o HttpService e executar os comandos como por exemplo:
      <div>
        <b>this.httpService.get("rotadobackend")</b>
      </div>
      <div>
        Para funcionar basta importar o HttpserviceModule no módulo.
      </div>
    </div>
  </div>
  <div style="margin-top: 10px">
    <h3>O que pode ser feito no Frontend?</h3>
    <div>
      Pode ser instalado qualquer biblioteca para facilitar o seu trabalho para estilizar, o angular-materials já está instalado e pronto para uso.
    </div>
  </div>

  <div style="margin-top: 10px">
    <h3>O que não pode ser feito no Frontend?</h3>
    <div>
      Utilizar alguma biblioteca que automatize muito o seu trabalho. A idéia é entender como você consegue implementar as lógicas e uso dos componentes. Alterar a estrutura do projeto. As rotas devem ser carregadas asincronas como está no exemplo do app.routes.ts
    </div>
  </div>
</div>

